<form class="form__container px-2 py-2">
  <div class="d-md-flex justify-content-center align-items-center">
    <div class="mb-3 mb-md-0" style="flex-shrink: 0;">
        I want to:
    </div>

    <select name="type" id="search-type" class="form-control mb-3 mb-md-0 mx-md-1">
      <option value="" selected disabled hidden>What do you want to do?</option>
      {{#each types}}
      <option value={{id}}>{{label}}</option>
      {{/each}}
    </select>

    <select name="audience" id="search-audience" class="form-control mb-3 mb-md-0 mx-sm-1">
      <option value="" selected disabled hidden>With whom?</option>
      {{#each audiences}}
      <option value={{id}}>{{label}}</option>
      {{/each}}
    </select>

    <input type="button" id="go" class="btn btn-primary btn-block-xs ml-sm-1" value="Go!" />
  </div>
  <!-- <div class="form-inline">
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="search-free" name="free" value="1">
      <label class="form-check-label" for="search-free">Free activities only, please!</label>
    </div>
  </div> -->
</form>
