<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="fullscreen">
    <a href="/" class="logo"><h1>Things to Do When the World Gets Canceled</h1></a>
    <div class="app-wrapper ">
      {{{body}}}
    </div>
  </body>
</html>
