<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="fullscreen d-flex flex-column justify-content-center align-items-center p-2">
  <div class="fullscreen__container p-3 mb-5">
    <div class="mb-2 mb-sm-4">
      <a class="logo" href="/">Things to Do When the<br />World Gets Canceled</a>
    </div>

    <div>
      {{{body}}}
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="/javascripts/index.js" type="text/javascript"></script>
</body>

</html>
