<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="fullscreen d-flex flex-column justify-content-center align-items-center p-4">
    <div>
      <div class="mb-4">
        <a class="logo" href="/">Things to Do When the<br />World Gets Canceled</a>
      </div>

      <div class="mb-5 pb-5">
        {{{body}}}
      </div>
    </div>

  </body>
</html>
