@import url('https://fonts.googleapis.com/css?family=Bellota+Text:400,400i,700,700i|Coustard:400,900&display=swap');

@import "includes/variables",
        "../..//node_modules/bootstrap/scss/bootstrap",
        "includes/logo",
        "includes/typography";

body {
    min-height: 100vh;
    position: relative;
}



// START: Login Form
.login-form {
    text-align: left;

    input[type=text],
    input[type=password],
    input[type=email] {
        min-width: 250px;
    }
}
// END: Login Form
