@import "includes/variables";
@import "../..//node_modules/bootstrap/scss/bootstrap";
@import "includes/logo";

body {
    min-height: 100vh;
    position: relative;
}



// START: Login Form
.login-form {
    text-align: left;

    input[type=text],
    input[type=password],
    input[type=email] {
        min-width: 250px;
    }
}
// END: Login Form
