.bg {
  &--salmon {
    background: $salmon !important;
  }

  &--mustard {
    background: $mustard !important;
  }

  &--lavender {
    background: $lavender !important;
    color: white;
  }

  &--slate {
    background: $slate !important;
    color: white;
  }
}
