.btn {
  &-block-xs {
    @media (max-width: $sm) {
      display: block;
      width: 100%;
    }
  }

  &:active {
    background-color: $slate !important;
    border-color: $slate !important;
  }
}
