.logo {
    color: $dark;
    font-family: $font-serif;
    font-size: 6vh;
    font-weight: 900;
    line-height: 1.2;
    text-align: left;
    text-transform: uppercase;
    transition: color 0.3s;

    &:hover {
      text-decoration: none;
    }

    @media (max-height: 600px) {
      font-size: 2rem;
    }

    @media (max-width: $md) {
      font-size: 1.5rem;
    }
}
